body {
  font-family: sans-serif;
  margin: 0;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 10fr 50px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

#search {
  padding-top: 1rem;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
}

main {
  background-color: rgb(245, 245, 245);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#weather {
  display: flex;
  justify-content: center;
}

#main-div {
  background-color: white;
  border-radius: 7px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 2fr 1fr;
}

#weather > div > div {
  display: flex;
  align-items: center;
  padding-left: 1rem;
  white-space: nowrap;
}

#location-div {
  font-size: 25px;
  font-weight: bold;
}

#temp-div {
  font-size: 50px;
}

#text-div {
  color: rgb(83, 83, 83);
}

img {
  height: 100%;
  grid-row: 1 / 4;
}

footer {
  display: flex;
  gap: 0.3rem;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: rgb(124, 124, 124);
}

input {
  padding: 3px;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid black;
  border-color: white;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
